body{
    margin: 10px;
}

form{
    background-color: rgb(99, 138, 232);
    margin: 10px;
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px;
}

h1{
    text-transform: uppercase;
    margin: 30px;
    text-align: center;
}